@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.App {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #0c1427;
    text-align: center;

    --nav-bar-width: 247px;
    --max-width: 100%;
    --transform: transform 0.2s cubic-bezier(0, 0, 0.2, 1);
}

@media (min-width: 768px) {
    .App {
        font-size: 14px;
        line-height: 17px;
    }
}

@media (max-width: 768px) {
    .App {
        font-size: 12px;
        line-height: 15px;
    }
}
